<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicChat</title>
    <link rel="icon" href="{{url_for('static', filename='img/sound-waves-orange.png')}}" type="image/png">
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6GVGgGc6pX6g7XevQDxEFb" crossorigin="anonymous">

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/bootstrap.min.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='/custom.css')}}">
    
    
    <script src="https://kit.fontawesome.com/1195f5c2ed.js" crossorigin="anonymous"></script>
    
    <meta name="csrf-token" content="{{ csrf_token }}">

</head>
<body>
    <div id="gradient">
    <!-- Navigation -->
    <header class="site__header">

        <div class="grid">
      
          <div class="site__logo">
      
            <a href="{{ url_for('index') }}"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="34" viewBox="9 310.9 412 220">
                <path fill="#fff" d="M29 430.9h-20v-20h20v20zm392-20h-20v20h20v-20zm-30.2-15h-20v50h20v-50zm-331.6 5h-20v40h20v-40zm30.1-10h-20v60h20v-60zm30.2-20h-20v100h20v-100zm30.1 20h-20v60h20v-60zm30.2-40h-20v140h20v-140zm30.1-40h-20v220h20v-220zm30.2 40h-20v140h20v-140zm30.1 30h-20v80h20v-80zm30.2 10h-20v60h20v-60zm30.1 10h-20v40h20v-40zm30.2-20h-20v80h20v-80z" />
              </svg></a>
      
          </div>
      
          <nav class="navigation navigation--inline navigation--main">
            <ul>
              {% if current_user.is_authenticated %}
              <li><a href="">Welcome {{ current_user.display_name }}</a></li>
              <li><a href="{{ url_for('search') }}">Search</a></li>
              <li><a href="{{ url_for('create_playlist') }}">Playlist</a></li>
              <li><a href="{{ url_for('chat') }}">Chatroom</a></li>
              <li><a href="{{ url_for('logout') }}" class="button button--primary button--rounded">Logout</a></li>
              {% else %}
              <li><a href="{{ url_for('login') }}" class="button button--primary button--rounded">Sign In</a></li>
              <li><a href="{{ url_for('register') }}" class="button button--primary button--rounded">Register</a></li>
              {% endif %}
            </ul>
          </nav>
      
        </div>
      
      </header>

    <!-- Main Content -->
    <div class="container my-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="alert alert-danger">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</div>
    <!-- Footer -->
    <footer>
        <p>&copy; {{ current_year }} MusicChat. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBud7O6w5U/+1zL1ULVU4LE9PT4iwyB/9Gj5Ll4tmn0f7M5z" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6GVgGzGc6pX6g7XevQDxEFb" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='../static/js/player.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}" type="module"></script>
    
</body>
</html>
